* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Roboto", sans-serif;
}

li {
	list-style-type: none;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
}
.row {
	display: flex;
	flex-wrap: wrap;
}
.col-12 {
	width: 100%;
}
.col-9 {
	width: 75%;
}
.col-6 {
	width: 50%;
}
.col-4 {
	width: 33.33%;
}
.col-3 {
	width: 25%;
}
.col-2 {
	width: 16.66%;
}
.col-1 {
	width: 8.33%;
}

.text-right {
	text-align: right;
}

.section__container {
	background-color: #f2f2f2;
	padding-left: 300px;
	padding-right: 30px;
	padding-top: 88px;
	min-height: 100vh;
}

.btn-blue {
	@include font(14px, 500);
	position: relative;
	display: flex;
	align-items: center;
	padding: 10px 16px;
	background: $color-btn;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	letter-spacing: 1.25px;
	text-transform: uppercase;
	color: $color-white;
	outline: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 1;
	overflow: hidden;
	&::before {
		content: "";
		position: absolute;
		z-index: -1;
		right: 50%;
		top: 0;
		background-color: $color-white;
		height: 100%;
		width: 0;
		transition: 0.6s ease-in-out;
		transform: translateX(50%);
	}
	&:hover {
		color: $color-blue;
		border: 1px solid $color-blue;
	}
	&:hover::before {
		width: 101%;
	}
}

.d-flex-between {
	display: flex;
	justify-content: space-between;
}

.blue {
	color: $color-blue;
}
.red {
	color: $color-red;
}

.yellow {
	color: $color-yellow;
}
