* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Roboto", sans-serif;
}

li {
	list-style-type: none;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
}
.row {
	display: flex;
	flex-wrap: wrap;
}
.col-3 {
	width: 25%;
}
.col-2 {
	width: 16.66%;
}
.col-1 {
	width: 8.33%;
}

.section__container {
	padding-left: 300px;
	padding-right: 30px;
	padding-top: 24px;
}
