@import "../global";

.sidebar {
	position: absolute;
	left: 0;
	top: 64px;
	z-index: 1;
	width: 270px;
	height: 100%;
	padding: 0 16px;
	background-color: $color-white;
	box-shadow: 0px 0px 0px rgba(63, 63, 68, 0.05), 0px 1px 3px rgba(63, 63, 68, 0.15);
	svg {
		max-width: 20px;
		max-height: 20px;
		fill: $color-darkGray;
		transition: 0.2s;
	}
	&__top {
		padding: 24px 16px;
		text-align: center;
	}
	&__name {
		@include font();
		margin: 16px 0 4px;
		letter-spacing: -0.05px;
		color: $color-black;
	}
	&__position {
		@include font(12px);
		color: $color-gray;
		text-align: center;
	}
	&__nav {
		padding: 10px 0;
	}
	&__item {
		margin-bottom: 13px;
		border-radius: 4px;
		cursor: pointer;
		transition: 0.2s;
		&:last-child {
			margin-bottom: 0;
		}
		&.is-active {
			background-color: $color-lightBlue;
			border-left: 3px solid $color-blue;
			svg {
				fill: $color-blue;
			}
			a {
				color: $color-black;
			}
		}
	}
	&__link {
		@include font(14px, 500);
		letter-spacing: -0.05px;
		color: $color-darkGray;
		display: flex;
		align-items: center;
		padding: 13px 19px;
		span {
			margin-left: 8px;
		}
	}
	&__support {
		@include font(12px, 500);
		display: flex;
		flex-direction: column;
		padding: 16px;
		color: $color-gray;
		a {
			margin-top: 10px;
			display: flex;
			align-items: center;
			span {
				@include font(14px, 500);
				letter-spacing: -0.05px;
				color: $color-darkGray;
				display: flex;
				align-items: center;
				margin-left: 8px;
			}
		}
	}
}
