@import "../../index.scss";

.products {
	&__background {
		width: 100%;
		height: 28vh;
	}
	&__header {
		position: relative;
		margin-bottom: 70px;
	}
	&__row {
		position: absolute;
		left: 20px;
		bottom: 0;
		transform: translateY(50%);
		align-items: flex-end;
	}
	&__logo {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		background-color: $color-white;
		margin-right: 10px;
		img {
			max-width: 58px;
			max-height: 58px;
		}
	}
	&__info {
		span {
			@include font(10px, 500);
			text-transform: uppercase;
			color: $color-gray;
		}
	}
	&__author {
		@include font(20px, 500);
		letter-spacing: -0.0555556px;
		color: $color-black;
		margin-bottom: 10px;
	}
}
